/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header {
    color: white;
    display: flex;
    height: 10vh;
    align-items: center;
    /* background-color: rebeccapurple; */
    background-color: black;
}

span img {
    margin-right: 1vw;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.title {
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    letter-spacing: 0.5vw;
}

nav {
    font-family: 'Oswald', sans-serif;
    margin-left: 50vw;
}

nav ul {
    display: flex;
}

nav ul li {
    cursor: pointer;
    list-style: none;
    margin: 2vw;
    display: flex;
}

nav ul li img {
    height: 4vh;
    filter: invert(1);
}

nav ul li:hover {
    color: rebeccapurple;
    filter: invert(0);
}

@media only screen and (max-width: 800px) {
    nav {
        display: none;
    }
}
.top{
    overflow: hidden;
}
.top img{
    max-width: 100vw;
    position: absolute;
}
.top div{
    color: white;
    position: absolute;
    margin:20vh 25vw;
}
.top div p{
    margin: 50px;
    margin-bottom: 0;
    font-size: 100px;
}
.top div small{
    font-size: 50px;
}
.buttons button{
    padding: 1rem;

}
button:nth-child(1){
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}
button:nth-child(1):hover{
    background-color: #5608a0;

}
button:nth-child(2){
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
}
button:nth-child(2):hover{
    background-color: #fff;
    color: black;
}
